<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sitemap\Model\ItemProvider\Composite">
        <arguments>
            <argument name="itemProviders" xsi:type="array">
                <item name="examplePagesProvider" xsi:type="object">
                    Roadmap\Sitemap\Model\ItemProvider\ExamplePages
                </item>
            </argument>
        </arguments>
    </type>
    <type name="VendorName\Sitemap\Model\ItemProvider\ExamplePages">
        <arguments>
            <argument name="configReader" xsi:type="object">
                Roadmap\Sitemap\Model\ItemProvider\ExamplePagesConfigReader
            </argument>
        </arguments>
    </type>
</config>
