<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_shipment_save_after">
        <observer name="roadmap_extensionAttributes_sales_order_shipment_after_observer"
                  instance="Roadmap\ExtensionAttributes\Observer\SalesOrderShipmentAfterObserver"/>
    </event>
</config>
